[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "uvicorn app.app:app --reload"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
passlib = {extras = ["argon2"], version = "*"}
aerich = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
arrow = "*"
fastapi = "*"
python-multipart = "*"

[dev-packages]
black = "*"
pylama = "*"
aiosqlite = "*"

[requires]
python_version = "3.10"
